<!--<p>structure-directive works!</p>-->

<!--
<h1 *ngIf="show">Hello</h1>
<h1 *ngIf="maths>35">Pass</h1>
-->

<!--<h1>{{marks}}</h1>
<table>
  <tr><th>Maths </th></tr>
  <tr *ngFor="let mark of marks">
    <td>{{mark}}</td>
  </tr>
</table>-->

<div class="row">
       <div class="col-2"></div>
       <div class="col-4">
         <form>
            Name : <input type="text" class="form-control" #name> <br/>
            Maths : <input type="number" class="form-control" #maths> <br/>
            Science : <input type="number" class="form-control" #sci> <br/>
            English : <input type="number" class="form-control"  #english> <br/>
            <input type="submit"  class="btn btn-primary" value="Add" (click)="addbtnclicked(name,maths,sci,english)">
            <input type="reset" class="btn btn-info" value="clear">

          </form>
       </div>
       <div class="col-6">
         <table  class="table table-dark">
  <tr>
    <th>Name</th> <th>Maths</th> <th>Science</th> <th>English</th> <th>Total</th><th>Pass/Fail</th></tr>
  <tr *ngFor="let student of students">
    <td>{{student.name}}</td>
    <td>{{student.maths}}</td>
    <td>{{student.sci}}</td>
    <td>{{student.english}}</td>
    <td>{{student.maths+student.sci+student.english}}</td>
    <td>
      {{student.pass_fail}}
      <!--<span *ngIf="student.maths>35 && student.sci>35 && student.english>35">Pass</span>
      <span *ngIf="student.maths<35 || student.sci<35 || student.english<35">Fail</span>-->
    </td>
  </tr>
</table>
       </div>
</div>



 <br/>
Passing_Marks : <input type="text" class="form-control" [(ngModel)]="passing_marks">

