<!--<p>structure-directive works!</p>-->

<!--
<h1 *ngIf="show">Hello</h1>
<h1 *ngIf="maths>35">Pass</h1>
-->

<!--<h1>{{marks}}</h1>
<table>
  <tr><th>Maths </th></tr>
  <tr *ngFor="let mark of marks">
    <td>{{mark}}</td>
  </tr>
</table>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Student Corner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="entryclick()" href="#">Entry <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="viewclick()" href="#">View</a>
      </li>

    </ul>

  </div>
</nav>
<div class="row">
       <div class="col-2">
           Passing_Marks : <input type="text" class="form-control" [(ngModel)]="passing_marks">

       </div>
       <div class="col-8">

          <app-entry ></app-entry>
          <app-view ></app-view>
       </div>
       <div class="col-2">

       </div>
</div>

<div class="row">
  <div class="col-2">

  </div>
</div>

 <br/>

