<!--
<H1> HELLO WEL COME TO THE WORLD OF  {{title}}</H1>
<h2> my age is {{age+5}}</h2>
<h2>{{display()}}</h2>
<h1>{{Voting()}}</h1>
<hr/>
-->
<!--<table>
  <tr>
    <th>child 1</th>
    <th>child2</th>
  </tr>
  <tr>
    <td> <app-child1></app-child1> </td>
    <td> <mychild2></mychild2> </td>

  </tr>
</table>-->

<!--<app-property-binding></app-property-binding>-->
<!--<input type="button" value="showeventbinding" (click)="showeventbindingbtnclicked()">
<input type="button" value="showtwobinding" (click)="showtwobindingclicked()">

<app-event-binding *ngIf="eventbindingshow"></app-event-binding>
<app-two-databinding *ngIf="twobindingshow"></app-two-databinding>-->

<app-structure-directive></app-structure-directive>
<!--
<app-tdf></app-tdf>
<hr/>
<app-mdf></app-mdf>
-->
