<p>mateiral-demo works!</p>

<button mat-button>normal</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="warn">warning</button>
<button mat-button color="accent">accent</button>

<hr/>
<button mat-raised-button>normal</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="warn">warning</button>
<button mat-raised-button color="accent">accent</button>

<hr/>
<button mat-stroked-button>normal</button>
<button mat-stroked-button color="primary">Primary</button>
<button mat-stroked-button color="warn">warning</button>
<button mat-stroked-button color="accent">accent</button>

<hr/>
<button mat-fab>normal</button>
<button mat-fab color="primary">Primary</button>
<button mat-fab color="warn">warning</button>
<button mat-fab color="accent">accent</button>

<hr/>



